APP_NAME=taller-php-2026
APP_ENV=local
APP_KEY=base64:GU1qoKXOiY8BiEIYkCM1s8ub99oaKHof0FTi3wpPNps=
APP_DEBUG=true
APP_URL=https://taller-php-2026-backend.test

APP_LOCALE=es
APP_FALLBACK_LOCALE=es

BCRYPT_ROUNDS=12

LOG_CHANNEL=stack
LOG_STACK=single
LOG_LEVEL=debug

DB_CONNECTION=sqlite

SESSION_DRIVER=database
SESSION_LIFETIME=120

MAIL_MAILER=log
QUEUE_CONNECTION=database
MAIL_FROM_ADDRESS="hello@example.com"
MAIL_FROM_NAME="${APP_NAME}"

LIVEKIT_URL=
LIVEKIT_API_KEY=
LIVEKIT_API_SECRET=

BROADCAST_CONNECTION=reverb

REVERB_APP_ID=
REVERB_APP_KEY=
REVERB_APP_SECRET=
REVERB_HOST=localhost
REVERB_PORT=8081
REVERB_SCHEME=http

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_REDIRECT_URI=http://localhost:8080/api/auth/google/callback
FRONTEND_URL=http://localhost:4200